body {
  background-color: tomato;
}
#game {
  display: grid;
  grid-template-columns: 170px 170px 170px;
  grid-template-rows: 170px 170px 170px;
  grid-gap: 20px;
  margin-left: 400px;
}

.choices {
  background-color: blueviolet;
  border-radius: 50%;
}

.choices p{
  font-size: 80px;
  margin-left: 58px;
  margin-top: 42px;
  color: rgb(247, 139, 168);
}

#restart{
  margin-left: 252px;
  border: none;
  background-color: rgb(211, 84, 211);
  padding: 14px 28px;
  font-family: Helvetica, sans-serif;
}